name: "Backend Tests"          # 1️⃣ Nom affiché dans GitHub

on:                         # 2️⃣ Quand s'exécute-t-il ?
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_call:  
  
jobs:                       # 3️⃣ Les tâches à faire
  test:
    runs-on: ubuntu-latest  # 4️⃣ Machine virtuelle
    steps:                  # 5️⃣ Les étapes
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip' # caching pip dependencies

      - name: install UV
        run: |
          cd backend
          pip install uv
          uv sync

      - name: install requirements.txt
        run: |
          cd backend && uv sync
          pip install -r requirements.txt

      - name: lancement du test
        run: cd backend && uv run pytest -v --cov
